*{

    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100;
    background-image: url('source/bg.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.profil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.profil img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 10px 30px rgb(175, 175, 175);
}

.profil h1{
    color: rgb(216, 216, 216);
    font-size: 2rem;
    text-shadow: 5px 1px 10px rgb(5, 5, 5);
}

.profil h2{
    color: pink;
    font-size: 1.8rem;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}

.fonty{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;

}

.social{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.social a{
    text-decoration: none;
    color: pink;
}


.sosmed{
    background-color: whitesmoke;
    width: 300px;
    height: 5.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 8px;
    
}

.sosmed:hover{
    background-color: pink;
    color: white;
    transform: scale(1.05);
}

.sosmed i{
    position: absolute;
    left: 6px;
}

.copyright{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    font-size: 0.7rem;
    color: aliceblue;
}